/*------------------------- Fonts ---------------------------*/
@font-face {
	font-family: 'quattrocento_sansregular';
	src: url('../fonts/quattrocentosans-regular-webfont.eot');
	src: url('../fonts/quattrocentosans-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/quattrocentosans-regular-webfont.woff') format('woff'),  url('../fonts/quattrocentosans-regular-webfont.ttf') format('truetype'),  url('../fonts/quattrocentosans-regular-webfont.svg#quattrocento_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'rokkittbold';
	src: url('../fonts/rokkitt-bold-webfont.eot');
	src: url('../fonts/rokkitt-bold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/rokkitt-bold-webfont.woff') format('woff'),  url('../fonts/rokkitt-bold-webfont.ttf') format('truetype'),  url('../fonts/rokkitt-bold-webfont.svg#rokkittbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'rokkittregular';
	src: url('../fonts/rokkitt-regular-webfont.eot');
	src: url('../fonts/rokkitt-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/rokkitt-regular-webfont.woff') format('woff'),  url('../fonts/rokkitt-regular-webfont.ttf') format('truetype'),  url('../fonts/rokkitt-regular-webfont.svg#rokkittregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------- Layout styles ------------------------*/
body {
	margin:25;
	font-family: 'quattrocento_sansregular';
	background:url(../images/bg-body.jpg);
}
a {
	outline:none;
}
a img {
	border:0;
	display:block;
}
p a {
	color:#838383;
	text-decoration:underline;
}
p a:hover, a:hover {
	color:#404040!important;
}

/*------------------------- Header -------------------------*/
.header {
	background:url(../images/bg-header.jpg) repeat-x;
	height:125px;
}
.header div {
	margin:0 auto;
	overflow:hidden;
	padding:0 10px;
	position:relative;
	width:940px;
}
.header div a#logo {
	float:left;
	left:8px;
	position:absolute;
	top:44px;
}
.header div div {
	float:right;
	margin:0;
	padding:0;
	position:static;
	width:475px;
}
.header div div > a {
	display:block;
	float:right;
	margin:0 19px 0 0;
	width:201px;
	height:58px;
	background:url(../images/interface.png) no-repeat 0 -67px;
	text-indent:-99999px;
}
.header div div > a:hover {
	background:url(../images/interface.png) no-repeat 0 -126px;
}
.header div div ul {
	clear:both;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:21px 0 0;
}
.header div div ul li:first-child {
	margin:0;
}
.header div div ul li {
	float:left;
	margin:0 0 0 30px;
}
.header div div ul li a:first-child {
	color:#fff;
	display:inline;
	float:none;
	font-family:rokkittbold;
	font-size:16px;
	letter-spacing:.025em;
	line-height:24px;
	margin:0;
	text-decoration:none;
	text-shadow:2px 3px 2px #000;
}
.header div div ul li a:hover, .header div div ul li.selected a {
	color:#fff600!important;
}

/* ----------------------- Our Projects Menu ------------------------- */
#cssmenu {
  background: #CC6A00;  /* was #333 */
  list-style: none;
  margin: 15px;  /* was 0 - now 15 pixels from left edge */
  padding: 0;
  width: 12em;
}
#cssmenu li {
  font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssmenu a {
  background: #CC6A00  /* was #333; */
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu a:hover {
/*  background: #2580a2 url("images/hover.gif") left center no-repeat; Original */ 
/*  background: #8fae00 url("images/hover.gif") left center no-repeat;  GREEN */
  background: #fff500 url(../images/hover2.jpg) left center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}

/*------------------------- Body ---------------------------*/

/* FEATURED */
.body .home .featured {
	background:url(../images/bg-featured.png) repeat-x;
	height:396px;
}
.body .home .featured div {
	background:url(../images/bg-featured.png) no-repeat;
	height:396px;
	margin:0 auto;
	width:960px;
}
.body .home .featured div p {
	color:#fff;
	font-family:rokkittregular;
	font-size:24px;
	line-height:30px;
	margin:0 0 0 78px;
	padding:32px 0 0;
	text-shadow:0 1px 1px #000;
}
.body .home .featured div h2 {
	color:#FFF;
	font-family:rokkittbold;
	font-size:36px;
	font-weight:400;
	line-height:24px;
	margin:0 0 0 78px;
	padding:28px 0 0;
	text-shadow:0 1px 1px #000;
}
.body .home .featured div h2 span {
	color:#fff600;
	font-size:48px;
	line-height:30px;
}

/* HOME */
.body .home .section {
	margin:0 auto;
	overflow:hidden;
	padding:0 10px;
	width:940px;
}
.body .home .section div:first-child {
	float:left;
}
.body .home .section div:first-child div ul li {
	border:0;
	float:left;
	margin:0 0 0 20px;
	padding:0;
	width:220px;
}
.body .home .section div:first-child div ul li a {
	display:block;
	margin:0 0 9px;
}
.body .home .section div:first-child div ul li h4 a {
	color:#404040;
	float:none;
	font-family:inherit;
	font-size:14px;
	font-weight:400;
	line-height:24px;
	margin:0;
	text-decoration:none;
	text-transform:uppercase;
}
.body .home .section div:first-child div ul li p {
	color:#838383;
	font-family:inherit;
	font-size:14px;
	line-height:24px;
	margin:0;
}
.body .home .section div:first-child div ul li p a {
	display:inline;
	float:none;
	margin:0;
}
.body .home .section div {
	float:right;
	width:460px;
}
.body .home .section div div:first-child a img {
	border:1px solid #d5d5d5;
	display:block;
	margin:0 0 9px;
}
.body .home .section div div ul {
	list-style:none;
	margin:0;
	padding:0;
}
.body .home .section div div ul li {
	border-top:1px solid #c9c9c9;
	overflow:hidden;
	padding:14px 0 26px;
}
.body .home .section div div ul li a {
	display:block;
	float:left;
	margin:0 20px 0 0;
}
.body .home .section div div ul li div {
	float:right;
	width:340px;
}
.body .home .section div div ul li div h4 {
	display:inline-block;
	margin:0;
}
.body .home .section div div ul li div h4 a {
	color:#404040;
	float:none;
	font-family:inherit;
	font-size:14px;
	font-weight:400;
	line-height:24px;
	margin:0;
	text-decoration:none;
	text-transform:uppercase;
}
.body .home .section div div ul li div p {
	color:#838383;
	float:left;
	font-family:inherit;
	font-size:14px;
	line-height:24px;
	margin:0;
}
.body .home .section div div ul li div p a {
	display:inline;
	float:none;
	margin:0;
}
.body .home .section div div ul li div p a.more {
	color:#cc6a00;
	text-decoration:none;
	text-transform:uppercase;
}
.body .home .section div div ul li div p a.more:hover {
	text-decoration:underline;
	color:#cc6a00!important;
}
.body .projects {
	margin:0 auto 217px;  
	overflow:hidden;
	padding:41px 10px 0;
	width:940px;
}
.body .projects h2 {
	color:#404040;
	font-family:rokkittbold;
	font-size:20px;
	font-weight:400;
	line-height:24px;
	margin:0 0 19px;
	text-decoration:none;
	text-transform:uppercase;
}

.body .projects h3 {
	color:#404040;
	font-family:rokkittbold;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	margin:0 0 19px;
	text-decoration:none;
	text-transform:uppercase;
}

.body .projects ul {
	float:left;
	list-style:none;
	margin:0 20px 0 0;
	padding:0;
	width:192px;  /* was 220 */
}
.body .projects ul li a {
	display:block;
}

/*
.body .projects ul li span {
	background:none #cc6a00;
	border-color:#d5d5d5;
	border-style:none solid;
	border-width:0 1px;
	display:block;
	height:59px;
} */

/*.body .projects ul li span a {
	color:#fff;
	display:block;
	font-family:rokkittbold;
	font-size:18px;
	font-weight:400;
	line-height:58px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}*/

/*.body .projects ul li span a:hover, .body .projects ul li.selected span a {
	color:#fff600!important;
}*/

.body .projects div {
	float:left;
	width:460px;
}
.body .projects div p a {
	color:#838383;
	text-decoration:underline;
}

/*.body .projects div.sidebar {
	background:none #ebebeb;
	border:1px solid #d5d5d5;
	margin:-42px 0 0 20px;
	padding:25px 0 7px;
	width:218px;
}
.body .projects div.sidebar div ul li a {
	color:#cc6a00;
	font-size:14px;
	line-height:24px;
	text-decoration:none;
}
.body .projects div.sidebar div ul li a:hover {
	color: #CC6A00!important;
}
.body .projects div.sidebar div.section ul {
	margin:4px 0 0;
	overflow:hidden;
	width:198px;
	float:left; /*added*/ 
	/*
}*/

/*.body .1project {
	margin:35 auto 217px;  -  was margin:0 auto 217px;
    overflow:hidden;
	padding:41px 10px 0;
	width:940px;
}*/
/*.body .1project h2 {
	color:#404040;
	font-family:rokkittbold;
	font-size:20px;
	font-weight:400;
	line-height:24px;
	margin:0 0 19px;
	text-decoration:none;
	text-transform:uppercase;
}*/
/*.body .1project ul {
	float:left;
	list-style:none;
	margin:0 20px 0 0;
	padding:0;
	width:220px;
}*/
/*.body .1project ul li a {
	display:block;
}*/
/*.body .1project ul li span {
	background:none #cc6a00;
	border-color:#d5d5d5;
	border-style:none solid;
	border-width:0 1px;
	display:block;
	height:59px;
}*/
/*.body .1project ul li span a {
	color:#fff;
	display:block;
	font-family:rokkittbold;
	font-size:18px;
	font-weight:400;
	line-height:58px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}*/
/*.body .1project ul li span a:hover, .body .1project ul li.selected span a {
	color:#fff600!important;
}*/
/*.body .1project div {
	float:left;
	width 660px;  - was 460px
	margin:25px;  added 
}*/

/*.body .1project div p a {
	color:#838383;
	text-decoration:underline;
}*/

/* --------------------------- GALLERY ------------------------------------------ */
.body .gallery {
	margin:0 auto 271px;
	padding:41px 10px 0;
	width:940px;
}
.body .gallery div h2 {
	color:#404040;
	float:left;
	font-family:rokkittbold;
	font-size:20px;
	font-weight:400;
	line-height:24px;
	margin:0 0 15px;
	text-decoration:none;
	text-transform:uppercase;
}
.body .gallery div div {
	float:left;
	margin:0 0 0 157px;
	padding:3px 0 0;
}
.body .gallery div div span {
	color:#404040;
	float:left;
	font-size:14px;
	line-height:24px;
	text-transform:uppercase;
}
.body .gallery div div ul {
	float:left;
	list-style:none outside none;
	margin:0 0 0 10px;
	overflow:hidden;
	padding:0;
}
.body .gallery div div ul li {
	color:#404040;
	float:left;
	margin:0;
	min-height:0;
	padding:0;
	width:auto;
}
.body .gallery div div ul li a {
	color:#404040;
	font-size:14px;
	line-height:24px;
	padding:0 5px;
	text-decoration:none;
}
.body .gallery div div ul li a:hover, .body .gallery div div ul li.selected a {
	color:#cc6a00!important;
}
.body .gallery div div.paging span {
	color:#404040;
	float:left;
	font-size:14px;
	line-height:24px;
	margin:0 10px 0 0;
	text-transform:none;
}
.body .gallery div div.paging ul {
	float:left;
	margin:0;
	overflow:hidden;
	padding:0;
}
.body .gallery div div.paging ul li {
	margin:0;
	width:auto;
}
.body .gallery div div.paging ul li a.prev {
	background:url(../images/arrow-left.jpg) no-repeat left 6px;
	display:block;
	text-indent:-99999px;
}
.body .gallery div div.paging ul li a.prev:hover {
	background:url(../images/arrow-left-hover.png) no-repeat left 6px;
}
.body .gallery div div.paging ul li a.next {
	background:url(../images/arrow-right.jpg) no-repeat right 6px;
	display:block;
	text-indent:-99999px;
}
.body .gallery div div.paging ul li a.next:hover {
	background:url(../images/arrow-right-hover.png) no-repeat right 6px;
}
.body .gallery div div.paging ul li a:hover {
	color: #CC6A00!important;
}
.body .gallery ul {
	list-style:none;
	margin:0 0 0 -20px;
	overflow:hidden;
	padding:4px 0 0;
}
.body .gallery ul li {
	float:left;
	margin:0;
	min-height:336px;
	padding:0 0 0 20px;
	width:220px;
}
.body .gallery ul li h4 {
	margin:8px 0 0 20px;
}
.body .gallery ul li h4 a {
	color:#404040;
	font-size:14px;
	font-weight:400;
	line-height:24px;
	text-decoration:none;
	text-transform:uppercase;
}
.body .gallery ul li h4 a:hover {
	color: #CC6A00!important;
}
.body .gallery ul li p {
	color:#838383;
	font-size:14px;
	line-height:24px;
	margin:0;
	padding:0 0 0 20px;
}
.body .gallery-details {
	margin:0 auto 445px;
	padding:41px 10px 0;
	width:940px;
}
.body .gallery-details div:first-child h2 {
	color:#404040;
	float:left;
	font-family:rokkittbold;
	font-size:20px;
	font-weight:400;
	line-height:24px;
	margin:0 0 19px;
	text-decoration:none;
	text-transform:uppercase;
}
.body .gallery-details div:first-child div.paging ul {
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:0;
}
.body .gallery-details div:first-child div.paging ul li:first-child a {
	margin-left:0;
}
.body .gallery-details div:first-child div.paging ul li {
	color:#404040;
	float:left;
	font-size:14px;
	line-height:24px;
}
.body .gallery-details div:first-child div.paging ul li a {
	background:none;
	color:#404040;
	display:inline;
	float:left;
	height:auto;
	margin:0 10px;
	text-decoration:none;
	text-indent:0;
	width:auto;
}
.body .gallery-details div:first-child div.paging ul li a:hover {
	color:#cc6a00!important;
}
.body .gallery-details div:first-child div.paging ul li a.prev {
	background:url(../images/arrow-left.jpg) no-repeat left 6px;
	display:block;
	padding:0 0 0 20px;
}
.body .gallery-details div:first-child div.paging ul li a.prev:hover {
	background:url(../images/arrow-left-hover.png) no-repeat left 6px;
}
.body .gallery-details div:first-child div.paging ul li a.next {
	background:url(../images/arrow-right.jpg) no-repeat right 6px;
	display:block;
	padding:0 20px 0 0;
}
.body .gallery-details div:first-child div.paging ul li a.next:hover {
	background:url(../images/arrow-right-hover.png) no-repeat right 6px;
}
.body .gallery-details div img {
	border:1px solid #d5d5d5;
	float:left;
	margin:0 20px 0 0;
}
.body .gallery-details div div h2 {
	background:url(../images/arrow-gray.png) repeat-x left bottom;
	color:#404040;
	font-family:rokkittbold;
	font-size:20px;
	font-weight:400;
	line-height:24px;
	margin:4px 0 17px;
	padding:0 0 34px;
	text-decoration:none;
	text-transform:uppercase;
}
.body .gallery-details div div p a {
	background:none;
	display:inline;
	height:auto;
	width:auto;
}
.body .gallery-details div div > a {
	background:url(../images/buttons.png) no-repeat 0 -42px;
	display:block;
	height:41px;
	text-indent:-99999px;
	width:189px;
}
.body .gallery-details div div > a:hover {
	filter:alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity:0.9;
}

/* ---------------------------------------------- CONTACT ------------------------------------- */
.body .contact {
	margin:0 auto;
	overflow:hidden;
	padding:43px 0 393px;
	width:940px;
}
.body .contact div:first-child {
	float:left;
	margin:0 20px 0 0;
	width:218px;
}
.body .contact div:first-child div ul {
	list-style:none;
	margin:0;
	padding:0;
	width:auto;
}
.footer div:first-child div {
	float:left;
	margin:0 0 0 20px;
	padding:0 23px 0 27px;
	width:auto;
}
.body .contact div p a {
	color:#838383;
}
.body .contact div form {
	background:url(../images/arrow-gray.png) repeat-x left top;
	margin:30px 0 0;
	padding:43px 0 0;
	width:702px;
}
.body .contact div form label {
	color:#404040;
	float:left;
	font-size:14px;
	line-height:24px;
	margin:0 20px 0 0;
	text-transform:uppercase;
}
.body .contact div form label input {
	background:none #fff;
	border:1px solid #d5d5d5;
	color:#838383;
	cursor:text;
	display:block;
	font-family:quattrocento_sansregular;
	font-size:12px;
	height:auto;
	margin:3px 0 18px;
	padding:5px 5px 4px;
	width:209px;
}
.body .contact div form label.message {
	clear:both;
	display:block;
	float:none;
}
.body .contact div form textarea {
	border:1px solid #d5d5d5;
	color:#838383;
	font-family:quattrocento_sansregular;
	font-size:12px;
	height:114px;
	overflow:auto;
	padding:5px;
	resize:none;
	width:449px;
}
.body .contact div form > input {
	background:url(../images/buttons.png) no-repeat;
	border:0;
	cursor:pointer;
	display:block;
	height:41px;
	margin:2px 0 0;
	padding:0;
	width:190px;
}
.body .contact div form > input:hover {
	filter:alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity:0.9;
}

/* ---------------------------------------------------- DONATE ------------------------------------ */
.body .donate {
	margin:0 auto;
	overflow:hidden;
	padding:43px 0 125px;
	width:940px;
}
.body .donate div:first-child {
	float:left;
	margin:0 20px 0 0;
	width:218px;
}
.body .donate div:first-child div ul {
	background:none;
	list-style:none;
	margin:0;
	padding:0;
	width:auto;
}
.body .donate div ul {
	background:url(../images/arrow-gray.png) repeat-x left top;
	list-style:none outside none;
	margin:28px 0 0;
	overflow:hidden;
	padding:27px 0 0;
}
.body .donate div ul li {
	float:left;
	margin:0 0 0 45px;
}

/* ---------------------------------------- HOME -------------------------------------------- */
.body .home .section div:first-child div:first-child, .body .home .section div div:first-child {
	background:url(../images/arrow-gray.png) repeat-x left bottom;
	margin:0 0 32px;
	padding:0 0 34px;
}
.body .home .section div:first-child div h3, .body .home .section div div h3 {
	display:block;
	margin:0 0 14px;
}
.body .home .section div:first-child div h3 a, .body .home .section div div h3 a {
	color:#404040;
	font-family:rokkittbold;
	font-size:20px;
	font-weight:400;
	line-height:24px;
	text-decoration:none;
	text-transform:uppercase;
}
.body .home .section div:first-child div ul {
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:0;
}
.body .home .section div:first-child div ul li:first-child, .body .home .section div:first-child div ul li h4, .body .gallery ul li:first-child, .body .donate div ul li:first-child {
	margin:0;
}
.body .home .section div:first-child div ul li a img, .body .home .section div div ul li a img, .body .projects div img{
	border:1px solid #D5D5D5;
}
.body .home .section div:first-child div ul li a img:hover, .body .home .section div div:first-child a img:hover, .body .home .section div div ul li a img:hover, .body .projects ul li a img:hover, .body .gallery ul li a img:hover {
	filter:alpha(opacity=80);/* Needed for IE8 and old versions */
	opacity:0.8;
}
.body .home .section div div:first-child p {
	color:#838383;
	font-size:14px;
	line-height:24px;
	margin:0;
}
.body .home .section div div ul li:first-child, .body .projects div.sidebar div:first-child {
	border-top:0;
	padding-top:0;
}

/* --------------------------------------------------- PROJECTS --------------------------------------------- */
.body .projects ul li a img, .body .gallery ul li a img {
	border:1px solid #d5d5d5;
}
.body .projects div p, .body .contact div p, .body .donate div p {
	color:#838383;
	font-size:14px;
	line-height:24px;
}
.body .projects div.sidebar div {
	border-top:1px solid #fff;
	padding:13px 20px 10px;
	width:178px;
}
.body .projects div.sidebar div h4 {
	color:#404040;
	font-size:14px;
	font-weight:400;
	line-height:24px;
	margin:0;
	text-transform:uppercase;
}
.body .projects div.sidebar div ul li a:hover{
	text-decoration:underline;
}
.body .projects div.sidebar div.section ul li {
	float:left;
	width:97px;
}
.body .projects div.sidebar div.section ul li a {
	display:block;
	padding:0 10px 10px 0;
}

/* --------------------------------------------------- 1PROJECT --------------------------------------------- */
/*.body .1project ul li a img, .body .gallery ul li a img {
	border:1px solid #d5d5d5;
}
.body .1project div p, .body .contact div p, .body .donate div p {
	color:#838383;
	font-size:14px;
	line-height:24px;
}
.body .1project div.sidebar div {
	border-top:1px solid #fff;
	padding:13px 20px 10px;
	width:178px;
}
.body .1project div.sidebar div h4 {
	color:#404040;
	font-size:14px;
	font-weight:400;
	line-height:24px; 
	margin:0;
	text-transform:uppercase;
}
.body .1project div.sidebar div ul li a:hover{
	text-decoration:underline;
}
.body .1project div.sidebar div.section ul li {
	float:left;
	width:97px;
}
.body .1project div.sidebar div.section ul li a {
	display:block;
	padding:0 10px 10px 0;
}*/

/* BODY - TYPHOON */
.body .typhoon {
   margin:50px;
}

.body .typhoon img.displayed {
    display: block;
	margin-left: auto
    margin-right: auto
}

.body .typhoon ul li a img {
	border:1px solid #d5d5d5;
}
.body .typhoon div p {
	color:#838383;
	font-size:14px;
	line-height:24px;
	margin:25px;
}
.body .typhoon div.section ul li a {
	margin:25px;
	padding:40px;
}

/* BODY - GALLERY */
.body .gallery div, .body .gallery-details div:first-child, .body .gallery-details div {
	overflow:hidden;
}
.body .gallery div div.paging, .body .gallery-details div:first-child div.paging {
	float:right;
}
.body .gallery-details div div p, .body .contact div:first-child div p, .body .donate div:first-child div p {
	color:#838383;
	font-size:14px;
	line-height:24px;
	margin:0 0 24px;
}

/* BODY - CONTACT */
.body .contact div:first-child h2, .body .contact div h2, .body .donate div:first-child h2, .body .donate div h2 {
	color:#404040;
	float:none;
	font-family:rokkittbold;
	font-size:20px;
	font-weight:400;
	line-height:24px;
	margin:0 0 27px;
	text-decoration:none;
	text-transform:uppercase;
}
.body .contact div:first-child div, .body .donate div:first-child div {
	background:none #ebebeb;
	border:1px solid #d5d5d5;
	float:none;
	padding:24px 15px 21px;
	width:auto;
}
.body .contact div:first-child div h4, .body .donate div:first-child div h4 {
	color:#404040;
	font-size:14px;
	font-weight:400;
	line-height:24px;
	margin:0;
	text-transform:uppercase;
}
.body .contact div:first-child div ul li, .body .donate div:first-child div ul li {
	color:#838383;
	float:none;
	font-family:inherit;
	font-size:13px;
	line-height:24px;
	margin:0;
	padding:0 0 0 20px;
}
.body .contact div:first-child div ul li.phone-num, .body .donate div:first-child div ul li.phone-num {
	background:url(../images/icon-phone.png) no-repeat left 7px;
	margin:0 0 24px;
}
.body .contact div:first-child div ul li.email, .body .donate div:first-child div ul li.email {
	background:url(../images/icon-email.png) no-repeat left 8px;
	margin:0 0 24px;
}
.body .contact div:first-child div ul li.email a, .body .donate div:first-child div ul li.email a {
	color:#cc6a00;
	font-size:13px;
	text-decoration:none;
}
.body .contact div:first-child div ul li.email a:hover, .body .donate div:first-child div ul li.email a:hover {
	color:#cc6a00!important;
	text-decoration:underline;
}
.body .contact div:first-child div ul li.address, .body .donate div:first-child div ul li.address {
	background:url(../images/icon-address.png) no-repeat left 6px;
}
.body .contact div, .body .donate div {
	float:right;
	width:702px;
}

/*------------------------- Footer -------------------------*/
.footer {
	background:url(../images/bg-footer.jpg) repeat-x left top;
	height:250px;
	padding:38px 0 3px;
}
.footer div:first-child {
	margin-top:0;
	overflow:hidden;
}
.footer div:first-child div:first-child {
	margin:0;
	padding:0 23px;
}
.footer div:first-child div:first-child ul {
	list-style:none;
	margin:0;
	padding:0;
	width:auto;
}
.footer div:first-child div:first-child ul li {
	color:#838383;
	float:none;
	font-family:inherit;
	font-size:13px;
	line-height:24px;
	margin:0;
	padding:0 0 0 20px;
}
.footer div:first-child div:first-child ul li.phone-num {
	background:url(../images/icon-phone.png) no-repeat left 7px;
	margin:0 0 24px;
}
.footer div:first-child div:first-child ul li.email {
	background:url(../images/icon-email.png) no-repeat left 8px;
	margin:0 0 24px;
}
.footer div:first-child div:first-child ul li.email a {
	text-transform:none;
	 color: #CC6A00;
}
.footer div:first-child div:first-child ul li.email a:hover {
	text-decoration:underline;
	 color: #CC6A00!important;
}
.footer div:first-child div:first-child ul li.address {
	background:url(../images/icon-address.png) no-repeat left 6px;
}
.footer div:first-child div {
	float:left;
	margin:0 0 0 20px;
	padding:0 23px 0 27px;
	width:auto;
}
.footer div:first-child div ul {
	list-style:none;
	margin:0;
	padding:0;
	width:400px;
}
.footer div:first-child div ul li {
	margin:28px 0 0;
}
.footer div:first-child div ul li p {
	color:#838383;
	float:none;
	font-family:inherit;
	font-size:13px;
	line-height:24px;
	margin:0;
	text-transform:none;
}
.footer div:first-child div ul li p a {
	color:#838383;
	display:inline;
	font-size:13px;
	line-height:24px;
	text-decoration:underline;
	text-transform:none;
}
.footer div:first-child div ul li span a {
	color:#cc6a00;
	display:inline;
	font-size:13px;
	text-transform:none;
}
.footer div:first-child div ul li span a:hover {
	text-decoration:underline;
	color:#cc6a00!important;
}
.footer div:first-child div.connect {
	float:right;
	margin:0;
	padding:0 20px 0 0;
}
.footer div:first-child div.connect h4 {
	margin:0 0 5px;
}
.footer div:first-child div.connect a {
	color:#838383;
	display:block;
	font-family:inherit;
	font-size:13px;
	font-weight:400;
	height:13px;
	line-height:14px;
	padding:0 0 0 20px;
	text-decoration:none;
}
.footer div:first-child div.connect a:hover {
	color:#838383!important;
}
.footer div:first-child div.connect a#facebook {
	background:url(../images/icons.png) no-repeat 0 -36px;
	margin:0 0 11px;
}
.footer div:first-child div.connect a#facebook:hover {
	background:url(../images/icons.png) no-repeat 0 -90px;
}
.footer div:first-child div.connect a#twitter {
	background:url(../images/icons.png) no-repeat 0 0;
	margin:0 0 11px;
}
.footer div:first-child div.connect a#twitter:hover {
	background:url(../images/icons.png) no-repeat 0 -72px;
}
.footer div:first-child div.connect a#googleplus {
	background:url(../images/icons.png) no-repeat 0 -18px;
}
.footer div:first-child div.connect a#googleplus:hover {
	background:url(../images/icons.png) no-repeat 0 -54px;
}
.footer div:first-child div.connect form {
	margin:30px 0 0;
	overflow:hidden;
}
.footer div:first-child div.connect form input {
	background:url(../images/interface.png) no-repeat -78px 0;
	border:0;
	color:#838383;
	cursor:auto;
	float:left;
	height:20px;
	line-height:22px;
	padding:3px 5px;
	width:145px;
}
.footer div:first-child div.connect form input#submit {
	background:url(../images/interface.png) no-repeat -234px 0;
	cursor:pointer;
	height:26px;
	padding:0;
	width:25px;
}
.footer div:first-child div.connect form input#submit:hover {
	background:url(../images/interface.png) no-repeat -234px -27px;
}
.footer div {
	margin:27px auto 0;
	overflow:hidden;
	padding:0 10px;
	width:940px;
}
.footer div ul {
	float:left;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:0;
}
.footer div ul li {
	float:left;
	margin:0 0 0 31px;
}
.footer div ul li a {
	color:#838383;
	display:block;
	font-size:11px;
	font-weight:400;
	line-height:24px;
	text-decoration:none;
	text-transform:uppercase;
}
.footer div ul li a:hover {
	color: #CC6A00!important;
}
.footer div p {
	color:#838383;
	float:right;
	font-size:11px;
	line-height:24px;
	margin:0;
	text-transform:uppercase;
}
.footer div:first-child div:first-child h4, .footer div:first-child div h4 {
	color:#404040;
	float:none;
	font-family:inherit;
	font-size:13px;
	font-weight:400;
	line-height:24px;
	margin:0;
	text-transform:uppercase;
}
.footer div:first-child div ul li:first-child, .footer div ul li:first-child {
	margin:0;
}
